body {
	width: 1000px;
	margin: 0 auto;
	font-family: "Helvetica Neue";
	background: #EEE url("../images/background.png");
	background-repeat: repeat;
}

nav {
	height: 55px;
	background: #333333;	
	border: 1px solid #999;	
	border-radius: 10px;
	text-transform: uppercase;
}

nav ul {
	list-style-type: none;
	margin: 0;
}

/*	ELEMENTOS DE LA LISTA */
li {
	width: 150px;
	height: 55px;
	line-height: 55px;
	text-align: center;
}

li a {
	color: #FFE;
	text-decoration: none;
}

li:hover {	
	background: #444444;
	border-radius: 10px;
}

/* PROPIEDADES ESPECIFICAS PARA LOS ELEMENTOS DEL MENU SUPERIOR */

/* Opciones del menu (lado izquierdo) */
.menu-item {
	float: left;	
	border-right: 1px solid #222;
	box-shadow: 1px 0px 0px #444;
}

#selected {
	border-radius: 10px;
	background-color: #444;
}

/* Usuario (Opción del lado derecho) */
#menu-user{
	float: right;		
	padding: 0 10px 0 10px;
}

#menu-user img {
	height: 48px;
	width: 48px;
	float: left;
}

/**
	SUBMODULO SUPERIOR CON BOTON
*/

#submodule-info-container{
	height: 92px;
	margin: 30px 50px 0px 50px;
}

#submodule-info-container div, #submodule-info-container div img {
	float: left;
}

#submodule-info-container form{
	float: right;
	line-height: 92px;
}

#submodule-info-container div p {
	display: inline;
	line-height: 92px;	
	margin: 0 0 0 20px;
	font-size: 20px;
	text-transform: uppercase;
}

.button {
	border: none;
	border-radius: 5px;
	padding: 5px 10px 5px 10px;	
	color: white;
}

.button#button-new {
	font-size: 20px;
	background-color: #3498DB;
}

.button#button-new:hover{
	background-color: #3cb0fd;
}

/**
	FORM STYLE
*/

#form-new {
	clear: both;
	width: 40%;
	margin: 25px auto 0;
}

#form-new p {
	margin: 10px 0 3px 0;
}

#form-new input, textarea {
	resize: none;
	width: 100%;
	padding: 3px 5px 3px 5px;
	border: 0.5px solid #ccc;
	border-radius: 5px;
}

#form-new div {
	height: 29px;
	margin-top: 20px;
}

#cancel {
	line-height: 29px;
	font-size: 16px;
	color: #f35d5d;
}

.button#save {
	float: right;
	width: 18%;
	font-size: 16px;
	background-color: #36b82b;
	margin-right: -5px;
}

.button#save:hover{
	background-color: #5dcc2d;
}


