body {
	width: 1000px;
	margin: 0 auto;
	font-family: "Helvetica Neue";
	background: #EEE url("../images/background.png");
	background-repeat: repeat;
}

nav {
	height: 55px;
	background: #333333;	
	border: 1px solid #999;	
	border-radius: 10px;
	text-transform: uppercase;
}

nav ul {
	list-style-type: none;
	margin: 0;
}

/*	ELEMENTOS DE LA LISTA */
li {
	width: 150px;
	height: 55px;
	line-height: 55px;
	text-align: center;
}

li a {
	color: #FFE;
	text-decoration: none;
}

li:hover {	
	background: #444444;
	border-radius: 10px;
}

/* PROPIEDADES ESPECIFICAS PARA LOS ELEMENTOS DEL MENU SUPERIOR */

/* Opciones del menu (lado izquierdo) */
.menu-item {
	float: left;	
	border-right: 1px solid #222;
	box-shadow: 1px 0px 0px #444;
}

/* Usuario (Opción del lado derecho) */
#menu-user{
	float: right;		
	padding: 0 10px 0 10px;
}

#menu-user img {
	height: 48px;
	width: 48px;
	float: left;
}






/* Style for Welcome Label */
#welcome {	
	width: 400px;
	margin: 70px auto 0;
	text-align: center;
	font-size: 30px;	
}

/* Dashboard Container */
#dashboard-options-container {
	text-align: center;
	margin: 100px auto 0;	
}

.dashboard-option{
	display: inline-block;
	width: 100px;
	margin: 0px 40px 0px 40px;
}

.dashboard-option a {	
	color: #555;
	text-decoration: none;
}

.dashboard-option img {	
	display: block;
	margin-right: 0px auto 0px;
}








