.jumbotron{
	margin: 2% auto 2%;
	background-color: inherit;
	text-align: center;
}

/* Position of the components inside of Jumbotron panel */
.jumbotron .thumbnail {
	margin-left: 20px;
	margin-top: -55px;
	float: left;
}

.jumbotron button {
	background-color: default;
	margin-right: 20px;
	float: right;
}

/* Button color */
#btn-new {
	border: none;
	color: white;
	background-color: #3498DB;	
	font-size: 16px;
}

#btn-new:hover {
	background-color: #3cb0fd;
}

#table-container {
	clear: both;
	text-align: center;
}

/* Message */
#message {
	display: inline-block;
	color: white;
	background-color: #36b82b;
}







/**
	TABLE STYLE
*/
table{
	clear: left;
	width: 95%;
    border-collapse: collapse;
	margin: 50px auto 0px;
}

th {
	color: white;
	border-collapse: collapse;
	background-color: #3498DB;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
	border-color: white;
	padding: 3px 5px 3px 5px;
}

tr {
	text-align: center;
	padding: 3px 5px 3px 5px;
}

.id-field {
	width: 13%;
}

.date-field{
	width: 12%;
}

.name-field {
	width: 20%;
}

.details-field {
	width: 35%;
}

.amount-field {
	width: 10%;
}

.action-field {
	width: 10%;
	text-align: right;
	padding-right: 10px;		
}

.action-field a {
	text-decoration: none;
}

.action-field a img {
	height: 32px;
	width: 32px;
}

