body {
	width: 1000px;
	margin: 0 auto;
	background: #EEE url("../images/background.png");
	background-repeat: repeat;
	font-family: "Helvetica Neue";
	text-align: center;
}

/* Style for Welcome Label */
h1 {
	text-align: center;
	margin-top: 70px;	
	font-size: 24px;
	color: #333;
}

form {
	width: 45%;
	height: 280px;
	margin: 70px auto 0;
	border: 1px solid #aaa;
	background-color: #eeeeee
}

#form-title {
	height: 60px;
	line-height: 60px;	
	margin: 0 auto 45px;	
	font-size: 22px;	
	color: white;	
	background: #333;	
}

div {
	width: 300px;
	margin: 12px auto 0;
}

.text-field {	
	height: 35px;		
}

.text-field img {
	float: left;
	width: 24px;
	height: 24px;
}

.text-field input {
	margin-top: 0;
	width: 260px;
	height: 25px;	
	font-size: 16px;
	padding: 3px 5px 3px 5px;
	border: 0.5px solid #ccc;
	border-radius: 5px;	
}

#login-button {
	float: right;
	border: none;
	border-radius: 5px;
	background-color: #3498DB;
	padding: 5px 10px 5px 10px;
	font-size: 16px;
	color: white;
}

#login-button:hover{
	background-color: #3cb0fd;
}






















