.jumbotron{
	margin: 2% auto 2%;
	background-color: inherit;
	text-align: center;
}

/* Position of the components inside of Jumbotron panel */
.jumbotron .thumbnail {
	margin-left: 20px;
	margin-top: -55px;
	float: left;
}

.jumbotron button {
	background-color: default;
	margin-right: 20px;
	float: right;
}

/* Button color */
#btn-new {
	border: none;
	color: white;
	background-color: #3498DB;	
	font-size: 16px;
}

#btn-new:hover {
	background-color: #3cb0fd;
}

#table-container {
	clear: both;
	text-align: center;
}

/* Message */
#message {
	display: inline-block;
	color: white;
	background-color: #36b82b;
}